@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">ASP.NET Core SignalR Sample</h1>
    <div>
        <p>
            Here is an example of a SignalR client using JS,
            this client connects to a SignalRHub, generates and sends a payment to all other connected clients
        </p>
        <input type="number" id="idpay">
        <button id="send" onclick="SendPay()">Send ID</button>
    </div>
    <div>
        <label>Pay received</label>
    </div>
    <div>
        <textarea id="text" rows="18" cols="50"></textarea>
    </div>
</div>
